@model IEnumerable<Rankings.Web.Models.GameTypeViewModel>

<p>
    <a asp-action="Create">Create New Game Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayName)
            </td>
        </tr>
}
    </tbody>
</table>
