@model Rankings.Web.Models.MainStats

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Running Battles 2021</h4>
    <partial name="SummaryView" for="@Model.RunningBattles"/>
    <partial name="GameSummaries" for="@Model.GameSummaries"/>
</div>