@model Rankings.Web.Models.MainStats

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h4>Eternal Rankings</h4>
    <partial name="SummaryView" for="@Model.Eternal"/>

    <h4>Hall of Fame 2019</h4>
    <partial name="SummaryView" for="@Model.HallOfFame"/>

    <h4>Running Battles 2020</h4>
    <partial name="SummaryView" for="@Model.RunningBattles"/>
    
    <p>Fibonacci 2020? Try to find out how to score! Just one hint: are you a social player?</p>
</div>