@model Rankings.Web.Models.MainStats

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2>Hall of Fame</h2>
    <br/>

    <partial name="SummaryView" for="@Model.HallOfFame"/>
    <br/>

    <h2>Running Battles</h2>
    <br/>
    <partial name="SummaryView" for="@Model.RunningBattles"/>
</div>