@model Rankings.Web.Models.WhatIfModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="display-4">RanKINGS</h3>
    <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Create">Register your games!</a>
    @* <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Matrix">Matrix with elo points you can gain</a> *@
    <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index" asp-route-gameType="tafeltennis">Results Tafeltennis</a>
    <a class="nav-link" asp-area="" asp-controller="Ranking" asp-action="YearRanking" asp-route-gameType="tafeltennis">Ranking Tafeltennis 2019</a>
    <br/>
    <h2>Coming soon</h2>
    <ul>
        <li>The 2020 Tafeltennis Ranking</li>
        <li>The Eternal Tafeltennis Ranking</li>
    </ul>
</div>