@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RanKINGS</h1>
    
    <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Create">Register your games!</a>
</div>
